# The MySQL  Client configuration file.
#
# For explanations see
# http://dev.mysql.com/doc/mysql/en/server-system-variables.html

[mysql]

[mysqld]
sql-mode="NO_AUTO_CREATE_USER"
bind-address = 0.0.0.0
pid-file = /var/run/mysqld/mysqld.pid
socket = /var/run/mysqld/mysqld.sock
character-set-server=utf8
innodb_flush_method=O_DSYNC
lower_case_table_names=2
net_buffer_length=1000000
max_allowed_packet=1000000000
skip-host-cache
skip-name-resolve