# The MySQL  Client configuration file.
#
# For explanations see
# http://dev.mysql.com/doc/mysql/en/server-system-variables.html

[mysql]
bind-address = 0.0.0.0

[mysqld]
sql-mode=""
character-set-server=utf8
innodb_flush_method=O_DSYNC
skip-host-cache
skip-name-resolve